.pokemon-sprite {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.pokemon-image {
  width: 100%;
  height: 100%;
  filter: brightness(0);
  opacity: 0.4;
  transform: scale(0.9);
  transition: none;              
}

.pokemon-image.reveal {
  filter: brightness(1);
  opacity: 1;
  transform: scale(1);
  transition: filter 1s ease-in-out,
              opacity 1s ease-in-out,
              transform 1s ease-in-out; 
}

